<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
</head>
<body>

<h2>Admin Panel</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Major</th>
    <th>Age</th>
    <th>Image</th>
    <th>Created</th>
</tr>

{% for s in students %}
<tr>
    <td>{{ s[0] }}</td>
    <td>{{ s[1] }}</td>
    <td>{{ s[2] }}</td>
    <td>{{ s[3] }}</td>
    <td><img src="{{ url_for('static', filename='uploads/' + s[4]) }}" width="60"></td>
    <td>{{ s[5] }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>
